body{
    --cor-fundo: rgba(0, 255, 13, 0.356);
    background-image: linear-gradient(180deg, var(--cor-fundo) 0%,var(--cor-fundo) 15%, rgb(255, 255, 255) 60%);
}

.central{
    padding-top: 80px;
    margin-bottom: 120px;
}

.fundoTema{
    height: 60vh;
}

.frutasPossiveis{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    text-align: center;
    gap: 2px;
}

.imagem div{
    min-width: 100%;
    overflow-x: auto;


    a{
        text-align: center;
        min-width: 100%;

        img{
            min-width: 100%;
        }
    }
}